body {
    font-family: "Patrick Hand", serif;
    background-image: url('./assets/darkCastle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {

    /* margin-top: 100px; */
    transform: translate(-50%, 50%);
}

.display {
    width: 600px;
    background-color: #070707;
    color: #db2d2d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.display h2 {
    background-color: #f6f6f6;
}

.display p {
    color: #f6f6f6;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;

}

.btns button {
    border: none;
    background-color: transparent;
    padding: 5px;
    color: #499dc3;
    font-size: 13px;
    transition: all ease 1s;

}

.btns button:hover {
    font-size: 1.2rem;
    border-bottom: 2px solid #f6f6f6;
}

.gifs {
    /* background-color: #14023e; */
    /* padding: 50px;
    height: 100vh;
    width: 100vw; */
}

.conta {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}

.score {
    background-color: #070707;
    color: #f6f6f6;
    padding: 4px 10px;
    border-radius: 5px;
}

.score h4 {
    color: #db2d2d;
    text-transform: capitalize;
}

#status {
    background-color: green;
    font-size: 2rem;
}

#lost {
    background-color: yellow;
    font-size: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    background-color: #070707;

}

.buttons button {
    border: none;
    background-color: transparent;
    color: #f6f6f6;
    font-size: 1rem;


}




.gifsContainer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;

}

.gifsContainer img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}