body {
    font-family: "Patrick Hand", serif;
    background-image: url('./assets/darkCastle.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.display {
    max-width: 600px;
    background-color: #070707;
    color: #db2d2d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.display p {
    color: #f6f6f6;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;

}

.btns button {
    border: none;
    background-color: transparent;
    padding: 5px;
    color: #499dc3;
    font-size: 13px;
    transition: all ease 1s;

}

.btns button:hover {
    font-size: 1.2rem;
    border-bottom: 2px solid #f6f6f6;
}

.gifs {
    /* background-color: #14023e; */
    /* padding: 50px;
    height: 100vh;
    width: 100vw; */
}

.gifsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 150px;
}

.gifsContainer img {
    max-width: 200px;
    max-height: 100px;
}